Layout {
    Column {
        Query
        Col ".item" {
            Items {
                Row {
                    ItemKey
                }
            }
        }
    }
}

Styles {
    Layout {
        width 400
        padding 10
    }
    Items {
        padding 2
        width "shrink"
    }
    Items:hovered {
        border_width 1
        border_color "pink"
    }
    ItemKey {
        font "Arial"
        match_text_color "lightgreen"
    }
    ItemKey:hovered {
        match_text_color "pink"
    }
    Query {
        padding 10
        font "Comic Sans MS"
    }
    Query:focused {
        border_color "pink"
        border_width 4
    }
    Query:hovered {
        border_color "lightgreen"
        border_width 5
    }

}
