Layout {
    Column {
        Query
        Column ".item-container" {
            Items {
                Container {
                    ItemKey
                }
            }
        }
    }
}

Styles {
    Layout {
        padding 6
        background "mediumpurple"
    }
    ".item-container" {
        padding 6
        spacing 8
    }

    Text {
        vertical_alignment "center"
        text_color "white"
    }

    Query {
        padding 10
        font "Comic Sans MS"
    }
    Query:focused {
        border_color "khaki"
        border_width 2
    }
    Query:hovered {
        border_color "gold"
        border_width 2
    }

    Items {
        padding 6
        width "shrink"
        text_color "white"
        border_radius 6
    }
    ItemKey {
        font "Comic Sans MS"
        match_text_color "gold"
    }
    Items:selected {
        border_color "gold"
        border_width 2
    }
    Items:hovered {
        border_radius 6
        background "khaki"
        text_color "mediumpurple"
    }
    ItemKey:hovered {
        text_color "mediumpurple"
        match_text_color "goldenrod"
    }
}
