Layout {
    Column {
        Query
        Col ".item" {
            Items {
                Row {
                    ItemKey
                }
            }
        }
    }
}

Styles {
    Layout {
        width 400
        padding 10
    }
    ItemKey {
        font "Arial"
        match_text_color "red"
    }
    Query {
        padding 10
        font "Comic Sans MS"
    }
}
