Layout ".round" {
    Row ".app-container" {
        Query ".round"
        Row ".item-container" {
            Items ".round" {
                Container {
                    ItemKey
                }
            }
        }
    }
}

Styles {
    ".app-container" {
        height "fill"
        vertical_alignment "center"
        align_items "center"
    }
    ".round" {
        border_radius 6
    }
    ".item-container" {
        padding 8
    }
    Layout {
        align_items "center"
        background "rgb(32, 32, 32)"
        padding 8
        width 1200
        height 70
    }
    Query {
        padding 10
        font_size 20
        width 250
        height "fill"
        vertical_alignment "center"
        background "rgb(35, 34, 32)"
        text_color "#eeeeee"
        placeholder_color "rgb(132, 132, 132)"
        border_color "rgb(132, 132, 132)"
        border_width 2
    }
    Items {
        padding 8
        text_color "#eeeeee"
        width "shrink"
    }
    Items:hovered {
        background "rgb(29, 93 177)"
    }
    Items:selected {
        background "rgb(29, 93 177)"
    }
    ItemKey {
        font_size 20
        match_text_color "rgb(10, 132, 255)"
    }
}
